{
  // Global settings
  "plugins": ["import", "mocha"],
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "camelcase":"off",
    "indent": ["error", 2, {"MemberExpression": 1}],
    "no-useless-constructor": "warn",
    "node/no-missing-import": "warn", // we should fix this
    "node/no-missing-require": "warn", // we should fix this
    "node/no-deprecated-api": "warn", // we should fix this
    "unicorn/import-style": "off",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/no-array-for-each": "off",
    "unicorn/no-array-push-push": "warn",
    "unicorn/no-static-only-class": "off",
    "unicorn/numeric-separators-style":"off",
    "unicorn/prefer-array-some": "warn",
    "unicorn/prefer-node-protocol": "off"
  }
}
